<div class="format-toolbar" id="formatToolbar">
  <div class="format-toolbar-group">
    <button
      type="button"
      class="format-toolbar-button format-heading-button"
      id="formatHeadingButton"
      aria-haspopup="true"
      aria-expanded="false"
      title="제목 형식"
    >
      <span id="formatHeadingLabel">Heading</span>
      <span class="format-toolbar-arrow">▾</span>
    </button>

    <div
      class="format-toolbar-menu"
      id="formatHeadingMenu"
      role="menu"
      hidden
    >
      <button type="button" role="menuitem" data-heading-level="1">
        <span class="format-heading-name">Heading 1</span>
        <span class="format-heading-mark">#</span>
      </button>

      <button type="button" role="menuitem" data-heading-level="2">
        <span class="format-heading-name">Heading 2</span>
        <span class="format-heading-mark">##</span>
      </button>

      <button type="button" role="menuitem" data-heading-level="3">
        <span class="format-heading-name">Heading 3</span>
        <span class="format-heading-mark">###</span>
      </button>

      <button type="button" role="menuitem" data-heading-level="4">
        <span class="format-heading-name">Heading 4</span>
        <span class="format-heading-mark">####</span>
      </button>

      <button type="button" role="menuitem" data-heading-level="5">
        <span class="format-heading-name">Heading 5</span>
        <span class="format-heading-mark">#####</span>
      </button>

      <button type="button" role="menuitem" data-heading-level="6">
        <span class="format-heading-name">Heading 6</span>
        <span class="format-heading-mark">######</span>
      </button>

      <div class="format-toolbar-menu-divider"></div>

      <button type="button" role="menuitem" data-heading-level="0">
        <span class="format-heading-name">Normal Text</span>
        <span class="format-heading-mark">본문</span>
      </button>
    </div>
  </div>
</div>