<header class="mk-header">

    <div class="mk-menubar">

        <img class="home-logo" src="assets/img/home.png">

        <div class="menu">
            <span>File</span>
            <div class="dropdown">
                <button>New Manual</button>
                <button>Open...</button>
                <button>Save</button>
                <button>Save As...</button>
                <hr>
                <button>Export HTML</button>
                <button>Export PDF</button>
            </div>
        </div>

        <div class="menu">
            <span>Edit</span>
            <div class="dropdown">
                <button>Undo</button>
                <button>Redo</button>
                <hr>
                <button>Find</button>
                <button>Replace</button>
                <hr>
                <button>Format Document</button>
            </div>
        </div>

        <div class="menu">
            <span>Insert</span>
            <div class="dropdown">
                <button>Heading</button>
                <button>Table</button>
                <button>.tbl</button>
                <button>.tss</button>
                <button>Image</button>
                <button>Formula</button>
                <button>Page Break</button>
            </div>
        </div>

        <div class="menu">
            <span>View</span>
            <div class="dropdown">
                <button>Editor</button>
                <button>Preview</button>
                <button>Split View</button>
                <hr>
                <button>Line Numbers</button>
                <button>Active Line</button>
                <button>Word Wrap</button>
            </div>
        </div>

        <div class="menu">
            <span>Tools</span>
            <div class="dropdown">
                <button>Render .tbl</button>
                <button>Validate .tbl</button>
                <button>Generate TOC</button>
                <button>Clean Export HTML</button>
                <hr>
                <button>Settings</button>
            </div>
        </div>

        <div class="mk-spacer"></div>

        <img class="company-logo" src="assets/img/logo.svg">

    </div>

</header>