<!DOCTYPE html>
<html lang="ko">

<head>

<meta charset="UTF-8">

<title>{{TITLE}}</title>

<link rel="stylesheet" href="../assets/css/manual.css">
<link rel="stylesheet" href="../assets/css/tbl.css">

</head>

<body>

{{CONTENT}}

<script src="../assets/js/manual.js"></script>
<script src="../assets/js/tbl.js"></script>

</body>

</html>

<link rel="stylesheet" href="../assets/css/manual.css">
<link rel="stylesheet" href="../assets/css/tbl.css">


<script src="../assets/js/manual.js"></script>
<script src="../assets/js/tbl.js"></script>